@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Poppins:wght@500&display=swap');
header
{
    font-family: 'Poppins', sans-serif;
}
.navigation
{
    margin-bottom: 50px;
}
.headings
{
    text-align: center;
    margin: 20px;
    color: purple;
}
.details
{
    text-align: justify;
}
span
{
    font-size: 18px;
    margin-left: 2px;

}
.education_details
{
    font-family: 'Poppins',sans-serif;
    background-image: linear-gradient(#9226bd,#5735bb);
    padding: 2rem;
    color: white;
    
}
 .column 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
 @media only screen and (max-width:576px) 
{
  .describe h2
  {
   font-size: 20px;
  }
} 

    