
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
header
{
    font-family: 'Poppins', sans-serif;
}

.headings
{
    text-align: center;
    margin: 20px;
    color: purple;
}
.details
{
    text-align: justify;
}
span
{
    font-size: 18px;
}
 .column 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
 @media only screen and (max-width:576px) 
{
  .describe h2
  {
   font-size: 20px;
  }
} 

    